@import url("material/css/material.css");


.jumbotron {
	background-color: black;
	color: #06d61b;
}

.terminal .card-header {
	color: #cccccc;
	background-color: grey;
}

.terminal .card-body {
	color: #cccccc;
	background-color: #b5b5b5;
	font-size: 14px;
}

.push_btn_right {
	text-align: right;
}

.push_btn_right h5 {
	text-align: left;
}

.push_btn_right small {
	text-align: left;
}

.push_btn_right button {
	border: 0;
	color: #cccccc;
	background-color: #4e4edb
}

.push_btn_right button:hover {
	color: white;
	background-color: blue;
}

.card .terminal:hover > .card-header {
	color: white;
	background-color: black;
}

.card .terminal:hover > .card-body {
	background-color: #7a7a7a;
	color: #09f711;
}

#veryThinSmall {
	font-size: 16px;
	font-weight: 100;
}

#veryThin {
	font-size: 40px;
	font-weight: 100;
}

.card {
	background-color: #f9f9f9;
}

.card .card {
	background-color: #ededed;
}

.footer {
	background-color: black;
	color: white;
	text-align: center;
}

#thin {
	font-size: 19px;
	font-weight: 100;
}

#label {
	font-size: 14px;
	font-weight:bold;
}

#label~p {
	color: grey;
}

#veryThinSmall > small {
	font-weight: 100;
}
