@import url("material/css/material.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #ededed;
}

p {
  text-align: justify;
  font-weight: thin;
}

h5 {
  font-weight: 400;
  color: blue;
}

span {
  font-weight: thin;
}

tr:hover {
  background-color: #01111c;
  cursor: pointer;
  color: white;
}

.center {
  text-align: center;
  font-weight: thin;
}

.btn-afka {
  margin: auto;
  width: 50%;
  border-radius: 18px;
  background: white;
  border-color: blue;
  color: blue;
  border-width: 2px;
  font-weight: bold;
}

.btn-afka:hover {
  margin: auto;
  width: 50%;
  border-width: 2px;
  border-radius: 18px;
  background: white;
  border-color: purple;
  color: purple;
}

.btn-afka {
  width: 50%;
  border-width: 2px;
  border-radius: 18px;
  background: white;
  border-color: red;
  color: red;
}

.card-body {
  text-align: center;
  border-color: #dce1e8;
  border-width: 1px;
}

.card-header {
  color: white;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  background-color: #6d728b;
}

.card-body .card-header {
  font-weight: 300;
  font-size: 17px;
  text-align: left;
}

.footer {
  width: 100%;
}

.footer .card-body {
  text-align: center;
}

#theme {
  background-color: #35ace7;
  color: white;
}


.card a {
  color: blue;
}

a:hover {
  color: #31b4bd;
  text-decoration: none;
}

.blur {
  -webkit-filter: blur(1px) brightness(0.5);
  -moz-filter: blur(1px) brightness(0.5);
  -ms-filter: blur(1px) brightness(0.5);
  -o-filter: blur(1px) brightness(0.5);
  filter: blur(1px) brightness(0.5);
}
